In [1]:
pip install yfinance

Requirement already satisfied: yfinance in /Users/viditjain/anaconda3/lib/python3.11/site-packages (0.2.28)
Requirement already satisfied: pandas>=1.3.0 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings(action= 'ignore')

In [37]:
start_date = '2022-04-01'
Data = yf.download('MSFT', start=start_date)

[*********************100%%**********************]  1 of 1 completed

In [38]:
Data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-04-01,309.369995,310.130005,305.540009,309.420013,305.099609,27110500
2022-04-04,310.089996,315.109985,309.709991,314.970001,310.572144,24289600
2022-04-05,313.269989,314.869995,309.869995,310.880005,306.539246,23156700
2022-04-06,305.190002,307.000000,296.709991,299.500000,295.318176,40110400
2022-04-07,296.660004,303.649994,296.350006,301.369995,297.162079,31411200
...,...,...,...,...,...,...
2023-09-01,331.309998,331.989990,326.779999,328.660004,328.660004,14931200
2023-09-05,329.000000,334.850006,328.660004,333.549988,333.549988,18553900
2023-09-06,333.380005,334.459991,330.179993,332.880005,332.880005,17535800
2023-09-07,331.290009,333.079987,329.029999,329.910004,329.910004,18381000
2023-09-08,330.089996,336.160004,329.459991,334.269989,334.269989,19530100

In [39]:
Data.to_csv('MSFT.csv')