In [44]:
pip install yfinance

Requirement already satisfied: yfinance in /Users/viditjain/anaconda3/lib/python3.11/site-packages (0.2.28)
Requirement already satisfied: pandas>=1.3.0 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/viditjain/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [45]:
import yfinance as yf
import pandas as pd
import numpy as np

import scipy.optimize as sci_opt


import warnings 
warnings.filterwarnings(action= 'ignore')

### Get data of following companies from Yahoo Finance using python API
**Starting from FY22**
* AAPL - Apple Inc.
* ADBE - Adobe Inc.
* GOOGL - Alphabet Inc. (Google)
* IBM - International Business Machines Corporation
* JNJ - Johnson & Johnson
* KO - The Coca-Cola Company
* NFLX - Netflix, Inc.
* AMZN - Amazon.com, Inc.
* NKE - Nike, Inc.
* MSFT - Microsoft Corporation

In [46]:
ticker_list = ['AAPL', 'ADBE', 'GOOGL', 'IBM', 'JNJ', 'KO', 'NFLX', 'AMZN', 'NKE', 'MSFT']
dfs = []

start_date = '2022-04-01'

for ticker in ticker_list:
    data = yf.download(ticker, start=start_date)
    data['Symbol'] = ticker
    data.reset_index(inplace=True)    
    dfs.append(data)
    
stock_data = pd.concat(dfs, ignore_index=True)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [47]:
display(stock_data)

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2022-04-01,174.029999,174.880005,171.940002,174.309998,172.787796,78751300,AAPL
1,2022-04-04,174.570007,178.490005,174.440002,178.440002,176.881729,76468400,AAPL
2,2022-04-05,177.500000,178.300003,174.419998,175.059998,173.531250,73401800,AAPL
3,2022-04-06,172.360001,173.630005,170.130005,171.830002,170.329437,89058800,AAPL
4,2022-04-07,171.160004,173.360001,169.850006,172.139999,170.636749,77594700,AAPL
...,...,...,...,...,...,...,...,...
3705,2023-09-18,327.799988,330.399994,326.359985,329.059998,329.059998,16834200,MSFT
3706,2023-09-19,326.170013,329.390015,324.510010,328.649994,328.649994,16505900,MSFT
3707,2023-09-20,329.510010,329.589996,320.510010,320.769989,320.769989,21436500,MSFT
3708,2023-09-21,319.260010,325.350006,315.000000,319.529999,319.529999,35529500,MSFT
3709,2023-09-22,321.320007,321.420013,316.149994,317.010010,317.010010,21436003,MSFT

In [48]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3710 entries, 0 to 3709
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3710 non-null   datetime64[ns]
 1   Open       3710 non-null   float64
 2   High       3710 non-null   float64
 3   Low        3710 non-null   float64
 4   Close      3710 non-null   float64
 5   Adj Close  3710 non-null   float64
 6   Volume     3710 non-null   int64
 7   Symbol     3710 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 232.0+ KB

In [49]:
number_of_symbols = len(stock_data['Symbol'].unique())
number_of_symbols

10

In [50]:
price_data = stock_data.pivot(index='Date', columns='Symbol', values='Close')

In [51]:
display(price_data)

Symbol,AAPL,ADBE,AMZN,GOOGL,IBM,JNJ,KO,MSFT,NFLX,NKE
Date,,,,,,,,,,
2022-04-01,174.309998,458.190002,163.559998,140.150497,130.149994,178.190002,62.869999,309.420013,373.470001,133.520004
2022-04-04,178.440002,468.809998,168.346497,142.971497,130.270004,176.470001,62.540001,314.970001,391.500000,134.339996
2022-04-05,175.059998,458.579987,164.054993,140.591003,128.889999,177.610001,62.470001,310.880005,380.149994,132.300003
2022-04-06,171.830002,444.329987,158.755997,136.548004,129.389999,182.229996,63.099998,299.500000,368.350006,128.360001
2022-04-07,172.139999,452.720001,157.784500,135.888504,128.550003,181.759995,63.439999,301.369995,362.149994,129.380005
...,...,...,...,...,...,...,...,...,...,...
2023-09-18,177.970001,532.419983,139.979996,138.210007,145.089996,162.470001,58.299999,329.059998,394.399994,95.510002
2023-09-19,179.070007,541.690002,137.630005,138.039993,146.520004,162.199997,58.180000,328.649994,396.200012,94.620003
2023-09-20,175.490005,535.780029,135.289993,133.740005,149.830002,162.910004,58.439999,320.769989,386.299988,94.040001
2023-09-21,173.929993,513.880005,129.330002,130.440002,147.380005,161.660004,57.540001,319.529999,384.149994,91.589996
2023-09-22,174.789993,512.900024,129.119995,130.250000,146.910004,160.500000,57.599998,317.010010,379.809998,90.849998

## Calculate Sharpe Ratio
The Sharpe ratio compares the return of an investment with its risk. It's a mathematical expression of the insight that excess returns over a period of time may signify more volatility and risk, rather than investing skill.

$$  Sharpe Ratio =  \frac {Rp - Rf} {\sigma p}   $$

Where: 
* Rp = Return of Portfolio (expected)
* Rf = Risk-Free Rate
* $\sigma$p = Standard Deviation of the Portfolio’s Excess Return


$$$$

**Expected Return:**
<div style="text-align: center;">
  \( R_p = ( w_{1}r_{1} + w_{2}r_{2} + \ldots +  w_{n}r_{n} ) \)
</div>

Where:
* $r_i$ = Return of Security i
* $w_i$ = Weight of Security i

$$$$

**Standard Deviation of the Portfolio**
$$ \sigma p = \sqrt{\sum{(w_i^2 \cdot \sigma_i^2) + (w_j^2 \cdot \sigma_j^2)} + 2 \sum{(w_i \cdot w_j \cdot \rho_{ij} \cdot \sigma_i \cdot \sigma_j)}}
$$

Where:

- w<sub>i</sub> is the weight of asset `i` in the portfolio.
- $\sigma_i$ is the standard deviation of asset `i`.
- $\rho_{ij}$ is the correlation coefficient between assets `i` and `j`.
- The first summation term calculates the contribution of each asset's risk to the portfolio.
- The second summation term considers the covariance between asset pairs `i` and `j` and their weights.

In [52]:
# Calculate the Log of returns.
log_return = np.log(1 + price_data.pct_change())

# Generate Random Weights.
random_weights = np.array(np.random.random(number_of_symbols))

# Generate the Rebalance Weights, these should equal 1.
rebalance_weights = random_weights / np.sum(random_weights)

# Calculate the Expected Returns, annualize it by multiplying it by `252`.
exp_ret = np.sum((log_return.mean() * rebalance_weights) * 252)

# Calculate the Expected Volatility, annualize it by multiplying it by `252`.
exp_vol = np.sqrt(
                    np.dot(
                            rebalance_weights.T,
                            np.dot(
                                    log_return.cov() * 252,
                                    rebalance_weights
                                   )
                            )
)

# Calculate the Sharpe Ratio.
sharpe_ratio = exp_ret / exp_vol

## Monte Carlo Simulation (single interation)

In [53]:
# Put the weights into a data frame to see them better.
weights_df = pd.DataFrame(data={
                                'random_weights': random_weights,
                                'rebalance_weights': rebalance_weights
                                }
                         )


print('')
print('*'*80)
print('PORTFOLIO WEIGHTS:')
print('-'*80)
print(weights_df)
print('-'*80)

# Do the same with the other metrics.
metrics_df = pd.DataFrame(data={
    'Expected Portfolio Returns': exp_ret,
    'Expected Portfolio Volatility': exp_vol,
    'Portfolio Sharpe Ratio': sharpe_ratio
}, index=[0])

print('')
print('*'*80)
print('PORTFOLIO METRICS:')
print('-'*80)
print(metrics_df)
print('-'*80)

********************************************************************************
PORTFOLIO WEIGHTS:
--------------------------------------------------------------------------------
   random_weights  rebalance_weights
0        0.910516           0.204010
1        0.848642           0.190146
2        0.428755           0.096067
3        0.276874           0.062036
4        0.091250           0.020445
5        0.942579           0.211194
6        0.243904           0.054649
7        0.141230           0.031644
8        0.106057           0.023763
9        0.473289           0.106045
--------------------------------------------------------------------------------

********************************************************************************
PORTFOLIO METRICS:
--------------------------------------------------------------------------------
   Expected Portfolio Returns  Expected Portfolio Volatility  \
0                   -0.047202                       0.238936

   Portfolio Sharpe Ratio
0               -0.197549
--------------------------------------------------------------------------------

## Portfolio Optimization Process

In [54]:
# Initialize the components, to run a Monte Carlo Simulation.

# We will run 5000 iterations.
num_of_portfolios = 10000

# Prep an array to store the weights as they are generated, 5000 iterations for each of our 4 symbols.
all_weights = np.zeros((num_of_portfolios, number_of_symbols))

# Prep an array to store the returns as they are generated, 5000 possible return values.
ret_arr = np.zeros(num_of_portfolios)

# Prep an array to store the volatilities as they are generated, 5000 possible volatility values.
vol_arr = np.zeros(num_of_portfolios)

# Prep an array to store the sharpe ratios as they are generated, 5000 possible Sharpe Ratios.
sharpe_arr = np.zeros(num_of_portfolios)

# Start the simulations.
for ind in range(num_of_portfolios):

    # First, calculate the weights.
    weights = np.array(np.random.random(number_of_symbols))
    weights = weights / np.sum(weights)

    # Add the weights, to the `weights_arrays`.
    all_weights[ind, :] = weights

    # Calculate the expected log returns, and add them to the `returns_array`.
    ret_arr[ind] = np.sum((log_return.mean() * weights) * 252)

    # Calculate the volatility, and add them to the `volatility_array`.
    vol_arr[ind] = np.sqrt(
        np.dot(weights.T, np.dot(log_return.cov() * 252, weights))
    )

    # Calculate the Sharpe Ratio and Add it to the `sharpe_ratio_array`.
    sharpe_arr[ind] = ret_arr[ind]/vol_arr[ind]

# Let's create our "Master Data Frame", with the weights, the returns, the volatility, and the Sharpe Ratio
simulations_data = [ret_arr, vol_arr, sharpe_arr, all_weights]

# Create a DataFrame from it, then Transpose it so it looks like our original one.
simulations_df = pd.DataFrame(data=simulations_data).T

# Give the columns the Proper Names.
simulations_df.columns = [
    'Returns',
    'Volatility',
    'Sharpe Ratio',
    'Portfolio Weights'
]

# Make sure the data types are correct, we don't want our floats to be strings.
simulations_df = simulations_df.infer_objects()

# Print out the results.
print('')
print('='*80)
print('SIMULATIONS RESULT:')
print('-'*80)
print(simulations_df.head())
print('-'*80)

================================================================================
SIMULATIONS RESULT:
--------------------------------------------------------------------------------
    Returns  Volatility  Sharpe Ratio  \
0 -0.057684    0.266637     -0.216339
1 -0.040684    0.250768     -0.162239
2 -0.032768    0.274651     -0.119309
3 -0.091452    0.270846     -0.337654
4 -0.054537    0.273412     -0.199469

                                   Portfolio Weights
0  [0.08285447435382547, 0.11428499799277528, 0.0...
1  [0.10797820131094599, 0.11767771841627987, 0.0...
2  [0.12131410074696967, 0.10639135153850017, 0.1...
3  [0.09489491247098303, 0.04746623682045648, 0.1...
4  [0.08941820640266028, 0.20795654611709516, 0.1...
--------------------------------------------------------------------------------

In [55]:
display(simulations_df)

,Returns,Volatility,Sharpe Ratio,Portfolio Weights
0,-0.057684,0.266637,-0.216339,"[0.08285447435382547, 0.11428499799277528, 0.0..."
1,-0.040684,0.250768,-0.162239,"[0.10797820131094599, 0.11767771841627987, 0.0..."
2,-0.032768,0.274651,-0.119309,"[0.12131410074696967, 0.10639135153850017, 0.1..."
3,-0.091452,0.270846,-0.337654,"[0.09489491247098303, 0.04746623682045648, 0.1..."
4,-0.054537,0.273412,-0.199469,"[0.08941820640266028, 0.20795654611709516, 0.1..."
...,...,...,...,...
9995,-0.030133,0.251026,-0.120040,"[0.066146752750497, 0.12663796336277167, 0.138..."
9996,-0.043054,0.270204,-0.159341,"[0.10364190432091745, 0.15667050927415094, 0.0..."
9997,-0.007941,0.230077,-0.034515,"[0.18279197261845273, 0.10716138791285605, 0.0..."
9998,-0.044524,0.225344,-0.197581,"[0.09140611532339026, 0.052515277019375105, 0...."
9999,-0.028300,0.235637,-0.120100,"[0.11544589854273853, 0.06358042390859717, 0.0..."

## Result Metrics

In [56]:
# Return the Max Sharpe Ratio from the run.
max_sharpe_ratio = simulations_df.loc[simulations_df['Sharpe Ratio'].idxmax()]
max_sharpe_ratio['Portfolio Weights'] = np.round(max_sharpe_ratio['Portfolio Weights'],3)

# Return the Min Volatility from the run.
min_volatility = simulations_df.loc[simulations_df['Volatility'].idxmin()]

print('')
print('='*80)
print('MAX SHARPE RATIO:')
print('-'*80)
print(max_sharpe_ratio)
print('-'*80)

print('')
print('='*80)
print('MIN VOLATILITY:')
print('-'*80)
print(min_volatility)
print('-'*80)

================================================================================
MAX SHARPE RATIO:
--------------------------------------------------------------------------------
Returns                                                        0.01734
Volatility                                                    0.212657
Sharpe Ratio                                                  0.081541
Portfolio Weights    [0.19, 0.047, 0.002, 0.087, 0.304, 0.087, 0.04...
Name: 1220, dtype: object
--------------------------------------------------------------------------------

================================================================================
MIN VOLATILITY:
--------------------------------------------------------------------------------
Returns                                                       -0.00841
Volatility                                                    0.172808
Sharpe Ratio                                                  -0.04867
Portfolio Weights    [0.0032206777599836263, 0.15200584954598811, 0...
Name: 4615, dtype: object
--------------------------------------------------------------------------------

In [57]:
max_sharpe_ratio['Portfolio Weights'] = np.round(max_sharpe_ratio['Portfolio Weights'],3)
max_sharpe_ratio['Portfolio Weights']

array([0.19 , 0.047, 0.002, 0.087, 0.304, 0.087, 0.048, 0.167, 0.062,
       0.006])

In [58]:
itr = 0

for ticker in ticker_list:
    max_sharpe_ratio[ticker] = max_sharpe_ratio['Portfolio Weights'][itr]
    itr += 1
    
max_sharpe_ratio.drop('Portfolio Weights', inplace=True)

In [59]:
max_sharpe_ratio

Returns          0.01734
Volatility      0.212657
Sharpe Ratio    0.081541
AAPL                0.19
ADBE               0.047
GOOGL              0.002
IBM                0.087
JNJ                0.304
KO                 0.087
NFLX               0.048
AMZN               0.167
NKE                0.062
MSFT               0.006
Name: 1220, dtype: object

In [60]:
df = max_sharpe_ratio.to_frame(name='Values').T
df

,Returns,Volatility,Sharpe Ratio,AAPL,ADBE,GOOGL,IBM,JNJ,KO,NFLX,AMZN,NKE,MSFT
Values,0.01734,0.212657,0.081541,0.19,0.047,0.002,0.087,0.304,0.087,0.048,0.167,0.062,0.006

In [61]:
monte_carlo_distribution = pd.DataFrame()

for ticker in ticker_list:
    monte_carlo_distribution[ticker] = df[ticker]
    
monte_carlo_distribution

        AAPL   ADBE  GOOGL    IBM    JNJ     KO   NFLX   AMZN    NKE   MSFT
Values  0.19  0.047  0.002  0.087  0.304  0.087  0.048  0.167  0.062  0.006

# Optimization

### Overview:
* With a given set of weights, return the portfolio returns, the portfolio volatility, and the portfolio sharpe ratio.

    ### Arguments:
    * weights (list): An array of portfolio weights.

    ### Returns:
    * (np.array): An array containg return value, a volatility value, and a sharpe ratio.

In [62]:
def get_metrics(weights: list) -> np.array:

    # Convert to a Numpy Array.
    weights = np.array(weights)

    # Calculate the returns, remember to annualize them (252).
    ret = np.sum(log_return.mean() * weights) * 252

    # Calculate the volatility, remember to annualize them (252).
    vol = np.sqrt(
        np.dot(weights.T, np.dot(log_return.cov() * 252, weights))
    )

    # Calculate the Sharpe Ratio.
    sr = ret / vol

    return np.array([ret, vol, sr])

### grab_negative_sharpe 
* function used to minimize the Sharpe Ratio.

    ### Arguments:
    * weights (list): The weights, we are testing to see if it's the minimum.

    ### Returns:
    * (np.array): An numpy array of the portfolio metrics.

In [63]:
def grab_negative_sharpe(weights: list) -> np.array:
    return get_metrics(weights)[2] - 1

### grab_volatility
* The function used to minimize the Sharpe Ratio.

    ### Arguments:

    * weights (list): The weights, we are testing to see if it's the minimum.

    ### Returns:
    * (np.array): An numpy array of the portfolio metrics.

In [64]:
def grab_volatility(weights: list) -> np.array:
    return get_metrics(weights)[1]

### check_sum
* Ensure the allocations of the "weights", sums to 1 (100%)

    ### Arguments:
    * weights (list): The weights we want to check to see if they sum to 1.

    ### Returns:
    * float: The different between 1 and the sum of the weights.

In [65]:
def check_sum(weights: list) -> float:
    return np.sum(weights) - 1

Till now our functions defined, let's run the optimization using the **scipy.optimization module**. This module has a function called minimize which we can use to help our optimial values. 
However, we need to do a few things before we run it. 
* First, we need to define bounds which tells the minimize function that each of our positions can only be between 0% and 100% of the allocation.
* Second, we need to define the constraint which will be a starting(function) that ensures we equ(equal) a 100% allocated portfolio. In other words, we use all the "capital" we can. 
* Third, we need to define our initial guess of the weights. The initial guess can be anything but in this case let's make it easy and start with an equally distirbuted portofolio. 
In this case we have 10 symbols so each symbol will be 10% of the portfolio.

Once we've define this steps we can run the optimization by passing through the arguments defined and defining the method as **Sequential Least Squares Programming (SLSQP)**. 
Once we run the minimize method we can grab the results.

The first is the results of our minimization operation. Inside the results, you'll see the optimize sharpe ration defined by the starting value. We can then take the optimized_weights defined by the optimized_sharpe.x values, and use them to return the different metrics we have for our portfolio.

## Optimize Sharpe Ratio

In [66]:
# Define the boundaries for each symbol, i.e from 0% to 100%
bounds = tuple((0, 1) for symbol in range(number_of_symbols))

# Define the constraints, That the sum of all weight must not exceed 100%.
constraints = ({'type': 'eq', 'fun': check_sum})

# Need to create an initial guess to start with, 
#And what's better than even distribution i.e. 10% of for each 10 stocks
init_guess = number_of_symbols * [1 / number_of_symbols]

# Perform the operation to minimize the risk.
optimized_sharpe = sci_opt.minimize(
    grab_negative_sharpe, # minimize this.
    init_guess, # Start with these values.
    method='SLSQP',
    bounds=bounds,
    constraints=constraints
)

# Print the results.
print('')
print('='*80)
print('OPTIMIZED SHARPE RATIO:')
print('-'*80)
print(optimized_sharpe)
print('-'*80)

================================================================================
OPTIMIZED SHARPE RATIO:
--------------------------------------------------------------------------------
 message: Optimization terminated successfully
 success: True
  status: 0
     fun: -1.7681912600298206
       x: [ 0.000e+00  0.000e+00  6.007e-16  0.000e+00  1.396e-16
            4.506e-01  1.572e-16  0.000e+00  0.000e+00  5.494e-01]
     nit: 7
     jac: [ 6.529e-01  1.025e+00  1.226e-01  4.297e-01  6.944e-01
           -1.170e-04  5.307e-02  6.544e-01  8.563e-01  9.593e-05]
    nfev: 78
    njev: 7
--------------------------------------------------------------------------------

In [67]:
optimized_sharpe_values = np.round(optimized_sharpe.x,3)
optimized_sharpe_distribution = pd.DataFrame([optimized_sharpe_values], columns=ticker_list)


optimized_metrics_values = get_metrics(weights=optimized_sharpe.x)
optimized_metrics = pd.DataFrame([optimized_metrics_values], columns=['Return', 'Volatility', 'Sharpe Ratio'])


# Print the Optimized Weights.
print('='*80)
print('OPTIMIZED WEIGHTS:')
display(optimized_sharpe_distribution)
print("")

# Print the Optimized Metrics.
print('='*80)
print('OPTIMIZED METRICS:')
display(optimized_metrics)

================================================================================
OPTIMIZED WEIGHTS:

   AAPL  ADBE  GOOGL  IBM  JNJ     KO  NFLX  AMZN  NKE   MSFT
0   0.0   0.0    0.0  0.0  0.0  0.451   0.0   0.0  0.0  0.549

================================================================================
OPTIMIZED METRICS:

    Return  Volatility  Sharpe Ratio
0 -0.17617    0.229331     -0.768191

## Optimize Volatility Ratio

In [68]:
# Define the boundaries for each symbol. Remember I can only invest up to 100% of my capital into a single asset.
bounds = tuple((0, 1) for symbol in range(number_of_symbols))

# Define the constraints, here I'm saying that the sum of each weight must not exceed 100%.
constraints = ({'type': 'eq', 'fun': check_sum})

# We need to create an initial guess to start with,
# and usually the best initial guess is just an
# even distribution. In this case 25% for each of the 4 stocks.
init_guess = number_of_symbols * [1 / number_of_symbols]

# Perform the operation to minimize the risk.
optimized_volatility = sci_opt.minimize(
    grab_volatility, # minimize this.
    init_guess, # Start with these values.
    method='SLSQP',
    bounds=bounds, # don't exceed these bounds.
    constraints=constraints # make sure you don't exceed the 100% constraint.
)

# Print the results.
print('')
print('='*80)
print('OPTIMIZED VOLATILITY RATIO:')
print('-'*80)
print(optimized_volatility)
print('-'*80)

================================================================================
OPTIMIZED VOLATILITY RATIO:
--------------------------------------------------------------------------------
 message: Optimization terminated successfully
 success: True
  status: 0
     fun: 0.14304714237261662
       x: [ 4.376e-19  0.000e+00  5.227e-18  0.000e+00  1.612e-01
            4.133e-01  3.956e-01  1.010e-02  1.972e-02  0.000e+00]
     nit: 10
     jac: [ 1.643e-01  1.572e-01  1.684e-01  1.433e-01  1.430e-01
            1.433e-01  1.428e-01  1.438e-01  1.426e-01  1.681e-01]
    nfev: 111
    njev: 10
--------------------------------------------------------------------------------

In [69]:
optimized_volatility_values = np.round(optimized_volatility.x,3)
optimized_volatility_distribution = pd.DataFrame([optimized_volatility_values], columns=ticker_list)

optimized_metrics_values = get_metrics(weights=optimized_volatility.x)
optimized_metrics = pd.DataFrame([optimized_metrics_values], columns=['Return', 'Volatility', 'Sharpe Ratio'])


# Print the Optimized Weights.
print('='*80)
print('OPTIMIZED WEIGHTS:')
display(optimized_volatility_distribution)
print("")


# Print the Optimized Metrics.
print('='*80)
print('OPTIMIZED METRICS:')
display(optimized_metrics)

================================================================================
OPTIMIZED WEIGHTS:

   AAPL  ADBE  GOOGL  IBM    JNJ     KO   NFLX  AMZN   NKE  MSFT
0   0.0   0.0    0.0  0.0  0.161  0.413  0.396  0.01  0.02   0.0

================================================================================
OPTIMIZED METRICS:

     Return  Volatility  Sharpe Ratio
0 -0.039327    0.143047     -0.274926

# Final Results

In [70]:
amount = 50000

## 1. Monte Carlo Distribution

In [71]:
monte_carlo_amount_distribution = monte_carlo_distribution * amount
monte_carlo_amount_distribution

,AAPL,ADBE,GOOGL,IBM,JNJ,KO,NFLX,AMZN,NKE,MSFT
Values,9500.0,2350.0,100.0,4350.0,15200.0,4350.0,2400.0,8350.0,3100.0,300.0

## Optimized Sharpe Ratio

In [72]:
optimized_sharpe_amount_distribution = optimized_sharpe_distribution * amount
optimized_sharpe_amount_distribution

   AAPL  ADBE  GOOGL  IBM  JNJ       KO  NFLX  AMZN  NKE     MSFT
0   0.0   0.0    0.0  0.0  0.0  22550.0   0.0   0.0  0.0  27450.0

## Optimized Volatility

In [73]:
optimized_volatility_distribution
optimized_volatility_amount_distribution = optimized_volatility_distribution * amount
optimized_volatility_amount_distribution

   AAPL  ADBE  GOOGL  IBM     JNJ       KO     NFLX   AMZN     NKE  MSFT
0   0.0   0.0    0.0  0.0  8050.0  20650.0  19800.0  500.0  1000.0   0.0

### Monte carlo Distribution gives better distribution

## Convert to Pickle

In [74]:
import pickle

In [76]:
pickle.dump(monte_carlo_distribution, open('final_allocation.pkl','wb'))

In [121]:
logo_list = ['apple', 'adobe', 'google','ibm', 'jnj', 'ko', 'netflix', 'amazon', 'nike', 'microsoft']
pickle.dump(logo_list, open('logo_list.pkl','wb'))